.home {
  background: #FFFF00;
  margin: 30px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
}

img {
  width: 1162px;
  height: 652px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: bold;
}
