.home {
  background: #FFFF00;
  margin: 10px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
  padding-top: 15%;
}

img {
  max-width: 490px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.email {
  margin-top: 20px;
  font-weight: bold; 
}

.email, .subtitle {
  font-size: 1.2rem;
}

@media screen and (max-width: 500px) {
  img {
    max-width: 100%; 
  }
}
