.home {
  background-color: #ffcce0;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 75px;
  margin: 50px auto;
  width: 90%;
  -webkit-font-smoothing: antialiased;
}

.home a {
  color: #ff66A3;
  text-decoration: none;
}

.home a:hover {
  text-decoration: underline;
}

.resume {
  max-width: 600px;
  margin: 100px auto;
}

.resume h1, .resume h2 {
  font-family: Helvetica, sans-serif;
}

.resume h1 {
  color: #ff3385;
}

.resume a {
  border-bottom: 1px dotted;
  color: #000000;
  text-decoration: none;
}


@media (max-width: 650px) {
  .home {
    font-size: 34px;
    line-height: 40px;
    margin: 20px auto;
  }

  .resume {
    margin: 20px;
  }
}

