body {
  color: #444;
  font-family: 'Lusitana';
  font-size: 50px;
  margin: 100px 0 0 200px;
}

p {
  margin: .5em 0;
}

a {
  color: #99ccff;
  text-decoration: none;  
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  body {
    font-size: 24px;
    margin: 20px;
  }
}

